$textColor = #2c3e50
$borderColor = #eaecef
$accentColor = #3273dc
$codeBgColor = #282c34

#refs div:before {
   content: "";
   display: block;
   height: 40px;
   margin: -45px 0 0;
}

#refs div:target p {
  background: #ffeb3b;
  border-color: #ffc107
}

.home-link .logo {
  width: 2em
  height: 2em
}

.home .hero img {
  width: 90%
}
